<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-responsive.css">

    <style>
        body {
            padding-top: 60px;
        }

        .tr-head {
            background: #dff0d8;
        }
    </style>
</head>

<body>

    <!-- Barra de navegación -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">IDGS803</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="#"><i class="icon-home icon-white"></i> Inicio</a></li>
                        <li><a href="#"><i class="icon-book icon-white"></i> Usuarios</a></li>
                        <li><a href="#"><i class="icon-user icon-white"></i> Alumnos</a></li>
                    </ul>
                </div> <!-- Cierre correcto de nav-collapse collapse -->
            </div>
        </div>
    </div>

    <!-- Contenedor principal -->
    <div class="container">
        {% block container %}
        {% endblock %}
    </div>

    <!-- Scripts -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
